<head>
	<meta charset="UTF-8">
	<title>
		{% block title %}Etape 4
		{% endblock %}
	</title>
	<link
	rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
	{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
	{% block stylesheets %}
		{{ encore_entry_link_tags('app') }}
	{% endblock %}

	{% block javascripts %}
		{{ encore_entry_script_tags('app') }}
	{% endblock %}
</head>
<body>
	<nav class=" border-gray-300 bg-navGrey">
		<div class="mx-auto flex w-11/12 max-w-[1400px] items-center justify-between py-4">
			<a href="{{ path('app_login') }}" class="text-xl font-bold">
				<img src="{{ asset('images/logo-jaji.png') }}" alt="Doctors" width="80" height="80"/>
			</a>
			<div class="flex items-center">
				{% if app.user %}
					<a href="#" class="relative inline-flex items-center rounded-l-md mr-2 px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">
						<span class="sr-only">Previous</span>
						<svg class="h-5 w-5" viewbox="0 0 20 20" fill="currentColor" aria-hidden="true">
							<path fill-rule="evenodd" d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" clip-rule="evenodd"/>
						</svg>
					</a>
					<a href="#" class="relative inline-flex items-center rounded-r-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">
						<span class="sr-only">Next</span>
						<svg class="h-5 w-5" viewbox="0 0 20 20" fill="currentColor" aria-hidden="true">
							<path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd"/>
						</svg>
					</a>
				{% endif %}
			</div>
		</div>

	</nav>

	<h2 class="font-semibold text-center mt-4 leading-7 text-3xl">Concentration</h4>

	<h4 class="font-semibold mt-4 p-4 leading-7 text-xl">Ressentez-vous des problèmes liés à la concentration au travail ?</h4>

	<div class="container mx-auto max-w-2xl text-center flex flex-row gap-4 px-6 py-10 ">


		<div class=" text-center block text-sm font-medium px-10 py-10 flex flex-row h-48 ">
			{{ form_start(form) }}<fieldset>

				<div class="">

					{{ form_widget(form.concentration) }}
					{{ form_rest(form) }}

				</div>

			</fieldset>
			<button type="submit" class="mr-2 inline-flex justify-center rounded-md border border-indigo-600 bg-blueText py-2 px-4 text-sm font-medium text-white" name="next" value="step5">Suivant</button>

			{{ form_end(form) }}

		</div>

		<div class="float-right ... block bg-white text-sm border border-redComponent shadow hover:bg-gray-100 ">

			<h2 class="font-semibold text-center mt-4 leading-7 ">Profession</h4>

			<h4 class="p-4 ">Sélectionnez votre secteur d'activité</h4>

			<ol class=" relative text-gray-500 border-gray-200 py-5">
				<li class="ml-2 py-2">
					<span class="absolute bg-redComponent flex items-center justify-center w-4 h-4 bg-green-200 rounded-full  ring-4 ring-white dark:ring-gray-900 dark:bg-green-900"></span>
					<a href="">
						<h3 class="font-medium leading-tight">Profession</h3>
					</a>
				</li>
				<li class="ml-2 py-2">
					<span class="absolute flex items-center justify-center bg-redComponent w-4 h-4  bg-gray-100 rounded-full  ring-4 ring-white dark:ring-gray-900 dark:bg-gray-700"></span>
					<a href="">
						<h3 class="font-medium leading-tight">Temps d'écran</h3>
					</a>
				</li>
				<li class="ml-2 py-2">
					<span class="absolute flex items-center justify-center bg-redComponent w-4 h-4 rounded-full ring-4 ring-white dark:ring-gray-900 dark:bg-gray-700"></span>
					<a href="">
						<h3 class="font-medium leading-tight">Sport</h3>
					</a>
				</li>
				<li class="ml-2 py-2">
					<span class="absolute flex items-center justify-center w-4 h-4 bg-redComponent bg-gray-100 rounded-full  ring-4 ring-white dark:ring-gray-900 dark:bg-gray-700"></span>
					<a href="">
						<h3 class="font-medium leading-tight">Concentration</h3>
					</a>
				</li>

				<li class="ml-2 py-2">
					<span class="absolute flex items-center justify-center w-4 h-4 bg-navGrey rounded-full ring-4 ring-white dark:ring-gray-900 dark:bg-gray-700"></span>
					<a href="">
						<h3 class="font-medium leading-tight">Nutrition</h3>
					</a>
				</li>
			</ol>

		</div>


	</div>


	<footer class="flex flex-col items-center gap-2 border-gray-300 bg-roseComponent py-10">
		<a href="{{ path('app_login') }}" class="text-2xl font-bold">
			<span class="text-indigo-600">Ja</span>ji.
		</a>
		<nav class="flex flex-wrap items-center justify-center gap-4 text-indigo-600 md:gap-6">
			<a href="" class="whitespace-nowrap hover:underline">
				À propos
			</a>
			<a href="" class="whitespace-nowrap hover:underline">
				Centre d'aide
			</a>
			<a href="" class="whitespace-nowrap hover:underline">
				Politique de confidentialité
			</a>
			<a href="" class="whitespace-nowrap hover:underline">
				Conditions d'utilisation
			</a>
		</nav>
		<p class="text-sm text-gray-600">
			&copy; Jaji. All rights reserved.
		</p>
	</footer>


</body>
